.navbar {
    &__button {
        background-color: $gray-color;
        padding: $size-3;
        border-radius: 100%;
        position: relative;
        &__number {
            padding: 0 $size-1;
            font-size: $size-3;
            line-height: $size-4;
            color: $white-color;
            background-color: $red-color;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &__button:hover {
        width: fit-content;
        background-color: $red-color;
        color: $white-color;
    }
    &__detailComponent {
        display: none;
        align-items: center;
        gap: $size-4;
    }
    @media (max-width: 1024px) {
        &__detailComponent {
            display: flex;
        }
    }
}